html{
    scroll-behavior: smooth;
}

a{
    appearance: button; 
    text-decoration:rgba(231, 144, 13, 0.082); 
    color: black; 
    width: 100px;
    height: 30px;
    border-radius: 30px; 
    text-align:  center;
    box-shadow: coral; 
    scroll-padding-block-start: 16px;
} 

h3{
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
}
body{
    background-color: #d1d1a1;
    color: black;
    padding: 0;
    margin: 0;
}
.header-content{
    margin: auto;
    margin-top: 2%;
    height: auto;
}
#title, #header-quote, nav{
    text-align: center;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid{
    font-size: 2rem;

}