<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | pacientes</title> 
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/pacientes.css')}}">
</head>
<body>
    <h1>Estos son los pacientes: 
        Mikael </h1> 
    <h2>Evanlleline </h2> 
    <h3>Liz </h3>
    <h4>Marco</h4>
    <h5> Santiago</h5>
    <h6>Loche</h6>
    <h7>Tato</h7>
    <h8>Daniel</h8>
    <h9>Mafe</h9>
    <h10>Isabella</10>
    <h11>Valeria</h11>
    <h12>Diego</h12>
    <h13>Juanes</h13>
    <h14>Juaquin</h14>
    <h15>Mauro</h15>
    <h16>Gabriela</h17>
    <h18>Eddy</h19>
    <h20>Steven</h20>
    <h21>Farid</h21>
    <h22>Kevin</h22>
    <h23>Fabiana</h23>
    <h24>Yorly</h24>
    <h25>Marlon</h25>
    
    <h26>tu ip es {{userip}}</h26> 
    <h27>tus doctores son {{doctores}}</h27> 
    <a href="/home"></a>
    
</body>
</html>