<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | hello</title>
    <link rel= "stylesheet" href="{{url_for('static', filename= 'css/hello.css')}}">
</head>
<body>
    <h1>Bienvenido a mi primera pagina</h1>
    <h2>Tu ip es: {{userIP}}</h2> 
    <h3>Tu mascota es: {{mascota}}</h3> 
    <img src="{{url_for('static', filename= 'images/D3pXwJ3UwAg8e9d.jpg')}}" alt="foto">  
    <a href="hey">vamos a la ruta hey</a>
    
</body>
</html>